name: Wine Quality Training Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run training script
      run: |
        python train.py

    - name: Write Job Summary
      run: |
        echo "## Wine Quality Experiment Results" >> $GITHUB_STEP_SUMMARY
        echo "**Name:** Abhinav Bhagwat" >> $GITHUB_STEP_SUMMARY
        echo "**Roll No:** 2022BCS0019" >> $GITHUB_STEP_SUMMARY
        echo "" >> $GITHUB_STEP_SUMMARY
        cat output/results/metrics.json >> $GITHUB_STEP_SUMMARY

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: wine-quality-artifacts
        path: |
          output/model/trained_model.pkl
          output/results/metrics.json
